<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SecurityKey" value="AUPRAVESH" />
    <!--<add key="ConnectionString" value="server=10.23.74.10,14333;database=MahaTranscoM02;uid=mahatranscouser;password=mahatranscopwd;Max Pool Size=1000;Min Pool Size=5"/>-->
      <!--add key="ConnectionString" value="server=192.168.184.11,14333;database=Alpha_2019;uid=attestuser;password=Att3stPwd;Max Pool Size=10000;Min Pool Size=5" />-->
      <add key="ConnectionString" value="server=aptech1.database.windows.net;database=NTA2020_PR;uid=aptech1;password=password@123;Max Pool Size=10000;Min Pool Size=5" />

    <add key="ExcelPathforemp" value="D:/websites/Mahagenco2016/UploadFiles/EmployeeData" />
    <add key="ExcelPathforemployee" value="D:/websites/Mahagenco2016/UploadFiles/EmployeeData" />
    <add key="ExcelPathsubject" value="D:/websites/Mahagenco2016/UploadFiles/SubjectData" />
    <add key="ExcelPathforsubject" value="D:/websites/Mahagenco2016/UploadFiles/SubjectData" />
 
    <!--add key="PhotoPath" value="\\192.168.183.15\Projects\AUPravesh\Photo\" />-->
    <add key="PhotoPath" value="https://masterfilestorage.blob.core.windows.net/prestige/NTA2020/" />
    <add key="PhotoDisplay" value="http://ntaexam.cbtexam.in/photo/" />


    <add key="RegisterMail" value="D:/websites/AUPravesh/MailFormat/MailRegister.htm" />
    <add key="ErrorMail" value="D:/websites/AUPravesh/MailFormat/Error.htm" />
    <add key="RegisterMail1" value="MailFormat\ApprovalMail.htm" />
    <add key="ForgotMail" value="D:/websites/AUPravesh/MailFormat/ForgotPwd.htm" />


    <add key="mailFrom" value="helpdesk.aupravesh2019@gmail.com" />

    <add key="mailServer" value="smtp.cbtexam.in" />
    <add key="SENDER_MAIL_TEXT" value="AUPravesh219"/>
    <add key="SMTPPort" value="25"/>
    <add key="MAIL_USER_NAME" value="aptech"/>
    <add key="MAIL_PASSWORD" value="P@ssw0rd?APT?"/>


  </appSettings>
    
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
<add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
  </connectionStrings>
  <system.web>
<!-- <sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="Server=localhost;Database=ASPState;User ID=attestuser;Password=attestpwd" stateConnectionString="tcpip=serverip:42424" stateNetworkTimeout="20000" /> -->
<customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <!-- <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager> -->
  <httpRuntime executionTimeout="100000" maxRequestLength="214748364" />
       
  <sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="Server=aptech1.database.windows.net;Database=ASPState;User ID=aptech1;Password=password@123" stateConnectionString="tcpip=serverip:42424" stateNetworkTimeout="20000" />
        <machineKey decryption="3DES" decryptionKey="99105102603D78213F83086FBED720CD90B471C6EE6851C8" validation="HMACSHA512" validationKey="342308D00D815C5E7B3B5782958CDDE69B839CACBD7111BB24F4BD0C7933F29BFC5AD6A0D50227B69A3AED263EEC0CCC9B42509AA784DB2B2C0EDB08670C35C2" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Maintainence/maint.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="false" host="192.168.95.43" password="Attest#123" userName="smtpuser" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>